.projects{
    margin-top: 0rem;
    
    /* padding-bottom: 15rem; */
}
.projects__container{
    grid-template-columns: repeat(3,350px) ;
    column-gap: 3rem;
    justify-content: center;
}

.projects__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

/* .projects__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5) ;

} */

.projects__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 2.5rem;
    
}


.projects__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.projects__data{
    display: flex;
    column-gap: 0.5rem;
    
}

.projects__box img{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    height: 170px;
    object-fit: cover;
    object-position: center;

}
.project__links{
    display: flex;
    justify-content: space-between;

}
.website__button{
    width: 50%;
}
.github-btn{
    color: var(--title-color);
    display: flex;
    align-items: center;
}

.projects .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.projects__name{
    font-size: var(--normal-font-size) ;
    font-weight: var(--font-medium);
    line-height: 18px;
}

.projects__level{
    font-size: var(--tiny-font-size);
}





@media screen and (max-width: 992px) {
    .projects__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
  /* For medium devices */

  @media screen and (max-width: 576px) {
    #project{
        margin-top: 5rem !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .projects__container{
        grid-template-columns: 1fr;

    }

    .projects__content{
        padding: 1.5rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    #project{
        margin-top: 1rem !important;
        padding-top: 3rem;
        padding-bottom: 13rem;
    }
    .projects__box{
        column-gap: 1.25rem;
    }

    .projects__name{
        font-size: var(--small-font-size);
    }
  }
  