
.about__data{
    position: relative !important;
}
.about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    padding-bottom: 4rem;
}
.aboutimg__container{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}
.about__img{
    /* position: absolute; */
    z-index: 1;
    width: 350px;
    border: none 3px;
    border-color: lightgray;
    padding: 7.5px;
    border-radius: 100%;
    justify-self: center;      
}
.about__img-border {
    position: absolute;
    z-index: -1;
    border: 5.5px solid; /* Light grey */
    border-left: 5.5px solid lightgray; /* Blue */
    border-right: 5.5px solid lightgray; /* Blue */
    border-radius: 50%;
    height: 350px;
    width: 350px;
    animation: spin 5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.about__info{
    grid-template-columns: repeat(3, 140px);
    gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.about__box{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 2px 2px rgb(183, 166, 166);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle{
    font-size: var(--tiny-font-size) ;
}

.about__description{
    text-align: right;
    padding:  0  0 0 4rem;
    margin-bottom: var(--mb-2-5);
}
/* .button-download{
    margin-left: 50%;  
} */
.about__download{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
}
.download-btn{
    
    right:0 !important;
}
@media screen and (max-width: 992px){
    .about__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img{
        width: 220px;
    }
    .about__img-border {
        height: 220px;
        width: 220px;
    }
    .about__box{
        padding: 0.75rem 0.75rem;
    }
    .about__data{
        text-align: center;
    }
    .about__info{
        justify-content: center;
    }

    .about__description{
        text-align: center;
        padding:  0  0 0 0;
        margin-bottom: var(--mb-2-5);
    }
    .button-download{
        margin-left: 0%;
        
    }
    .about__download{
        display: flex;
        /* flex-direction: row-reverse; */
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    #about{
        padding-bottom: 0rem;
    }
    body{
        margin: 0 0 var(--header-height) 0;
    }
    .section{
        padding: 0rem 0 4rem;
    }
    .section__subtitle{
        margin-bottom: var(--mb-3);
    }
} 

@media screen and (max-width: 576px) {
    .about{
        padding-top: 8rem;
    }
    .about__info{
        grid-template-columns: repeat(3,1fr);

    }
    .about__description{
        text-align: left;
        padding:  0  0 0 0;
        margin-bottom: var(--mb-2-5);
    }
}

@media screen and (max-width: 350px) {
    .about__info{
        grid-template-columns: repeat(2, 1fr);
    }
}